/*.Wdate { width: 100px; border: #999 1px solid; height: 20px; line-height:20px; padding:0px 3px; background: #fff url(datePicker.gif) no-repeat right; }*/
.Wdate { width: 120px; border: 1px solid #dedede; height: 20px; line-height: 20px; padding: 1px 3px; background: #fff url(datePicker.png) no-repeat right; }
.WdateFmtErr { font-weight: bold; color: red; }
