﻿/*@charset "utf-8";*/

/*一些全局样式，仅供参考*/
.tabnav, .tabctrl, .tabpage { zoom: 1; margin: 0; }
    .tabnav em, tabctrl b { cursor: pointer; }
    .tabpage * { cursor: default; font-weight: normal; }
.tableftno, .tabrightno, .tabprevno, .tabnextno { cursor: default!important; }
.tabprocess { height: 5px; overflow: hidden; }
.tabdel { position: relative; top: -2px; left: 2px; font: 12px Arial!important; margin: 0 0 0 2px; }
.tabscroll { *background: #f5f5f5; *height: 26px; }
    .tabscroll * { margin: 0 0 0 5px; }
.tabbtn kbd { font: 14px/24px "微软雅黑"; }

/*Tab选项卡效果默认样式*/
.kandyTabs { margin: 0; padding: 2px; border: 1px solid #DDD; background: #f5f5f5; border-radius: 5px; zoom: 1; }
    .kandyTabs .tabtitle { padding: 0; line-height: 24px; overflow: hidden; margin: 0 0 -1px; position: relative; z-index: 1; zoom: 1; }
        .kandyTabs .tabtitle .tabbtn { margin: 0 2px 0 0; padding: 0 6px; float: left; background: #e5e5e5; border: 1px solid #DDD; border-radius: 5px 5px 0 0; white-space: nowrap; }
        .kandyTabs .tabtitle .tabcur { background: #FFF; border-bottom: 1px solid #FFF; font-weight: bold; color: #F00; }
    .kandyTabs .tabbody { padding: 5px; background: #FFF; border: 1px solid #DDD; overflow: hidden; zoom: 1; margin: 0; border-radius: 0 0 5px 5px; }
        .kandyTabs .tabbody .tabcont { background: #FFF; }
        .kandyTabs .tabbody .tabroll .tabcont { }

/*fold折叠效果默认样式*/
.kandyFold { border: 3px double #DDD; overflow: hidden; zoom: 1; }
    .kandyFold .tabbtn { border-top: 1px solid #DDD; display: block; margin: -1px 0 0; padding: 0 10px; line-height: 24px; background: #EEE; zoom: 1; }
    .kandyFold .tabcur { background: #FFF; border-bottom: 1px dashed #EEE; font-weight: bold; color: #F00; }
    .kandyFold .tabon { background: #F5F5F5; font-weight: bold; }
    .kandyFold .tabcont { display: block; margin: 0; padding: 5px; }

/*Slide幻灯片效果默认样式*/
.kandySlide { position: relative; zoom: 1; border-radius: 5px; }
    .kandySlide .tabtitle { position: absolute; bottom: 8px; right: 8px; z-index: 10; }
        .kandySlide .tabtitle .tabbtn { float: left; background: #000; color: #FFF; padding: 0 4px; font: bold 12px/16px Arial; margin: 0 0 0 5px; filter: alpha(opacity=50); opacity: .5; border-radius: 8px; }
        .kandySlide .tabtitle kbd { font: bold 12px/16px Arial; }
        .kandySlide .tabtitle .tabcur { background: #F30; padding: 0 6px; filter: alpha(opacity=70); opacity: .7; font-size: 13px; }
    .kandySlide .tabbody { overflow: hidden; zoom: 1; }
    .kandySlide .tabcont img { vertical-align: text-bottom; display: block; background: #FFF url(loading.gif) center no-repeat; border-radius: 5px; }

/*Loop多列循环（旋转木马）效果默认样式*/
.kandyLoop { position: relative; zoom: 1; border: 1px solid #DDD; padding: 2px; background: #EEE; border-radius: 5px; }
    .kandyLoop .tabtitle { float: right; padding: 3px 5px 5px; }
        .kandyLoop .tabtitle .tabbtn { margin: 0 0 0 5px; font-size: 10px; display: inline-block; width: 8px; height: 8px; overflow: hidden; text-indent: -30px; background: #CCC; border-radius: 4px; zoom: 1; }
        .kandyLoop .tabtitle .tabcur { background: #F30; }
    .kandyLoop .tabbody { border: 1px solid #DDD; background: #FFF; clear: both; border-radius: 5px; *overflow: hidden; zoom: 1; }
    .kandyLoop .tabcont { zoom: 1; }
        .kandyLoop .tabcont img { vertical-align: text-bottom; background: #FFF url(loading.gif) center no-repeat; _display: inline; }

/*StepTab/Guide步骤表单/向导效果默认样式*/
.kandyStep { margin: 0; padding: 2px; border: 1px solid #DDD; background: #f5f5f5; overflow: hidden; zoom: 1; border-radius: 5px; }
    .kandyStep .tabtitle { margin: 0 0 2px; padding: 0; line-height: 30px; border: 1px solid #DDD; height: 30px; background: #e5e5e5; overflow: hidden; border-radius: 5px 5px 0 0; }
        .kandyStep .tabtitle .tabbtn { display: inline-block; border-left: 1px solid #DDD; margin: 0 0 0 -1px; text-align: center; height: 30px; overflow: hidden; }
        .kandyStep .tabtitle .tabcur { color: #F30; background: #f9f9f9; font-weight: bold; }
        .kandyStep .tabtitle .tabok { font-weight: bold; color: #393; background: #fff; }
    .kandyStep .tabbody { border: 1px solid #ddd; background: #fff; border-bottom: none; }
    .kandyStep .tabnav { text-align: center; padding: 15px 0; border: 1px solid #ddd; border-top: 1px dashed #ddd; background: #f9f9f9; border-radius: 0 0 5px 5px; }
        .kandyStep .tabnav em { margin: 0 5px; border: 1px solid #F30; padding: 5px; color: #fff; background: #F60; border-radius: 5px; }
        .kandyStep .tabnav .tabprevno,
        .kandyStep .tabnav .tabnextno { background: #999; border-color: #666; }
    .kandyStep .tabpage { display: none; }
