﻿body, form {
    margin: 0px;
    background-color: #EAEDEF;
    font-size: 12px;
    color: #333333;
    font-family: Arial,'微软雅黑',"宋体";
}

    body.white {
        background-color: #FFFFFF;
    }

        body.white, body.white form {
            background-color: white;
        }

.shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

ul {
    margin: 0px;
    list-style: none;
}

.f12 {
    font-size: 12px;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.hidden {
    display: none;
}

.overhidden {
    overflow: hidden;
}

.autowidth {
    width: auto;
}

.clear {
    float: none;
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    float: none;
    clear: both;
    display: block;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}


span.red, span.required {
    color: red;
    padding: 0px 3px;
    font-weight: bold;
    vertical-align: middle;
}

span.tipinfo {
    background: url(/images/jingyi.png) -319px -372px;
    padding-left: 11px;
    height: 11px;
    margin-right: 5px;
    cursor: pointer;
}

.inputbox {
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    height: 14px;
    padding: 6px 0;
    margin: 3px;
    line-height: 14px;
    padding-left: 5px;
    font-size: 13px;
    width: 150px;
}

.selectauto {
    height: 28px;
    display: inline-block;
    padding: 3px 5px;
    margin: 0px 7px 0px 5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2b2b2b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.f_l .tab {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    padding-bottom: 8px;
    margin-right: 10px;
}

    .f_l .tab.current, .f_l .tab:hover {
        border-bottom: 2px solid #1C7EFB;
    }

.btn {
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 3px; /*background-color: #f7f7f7;*/ /*background: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2)); background: -moz-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2));*/ /*background: -o-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2)); background: -ms-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2));*/
    height: 28px;
    line-height: 28px;
    padding: 0px 15px;
    cursor: pointer;
    display: inline-block;
    color: #666;
    text-decoration: none;
    margin-left: 5px;
}

    .btn.loading { /*padding-left: 28px;*/
    }

        .btn.loading .btnloading {
            border: 0px; /*position: absolute; top: 6px; left: 8px;*/
            margin-right: 6px;
            vertical-align: middle;
        }
    /*.btn.loading .btnloading { display: block; }*/
    .btn:hover {
        border: 1px solid #d1d1d1;
        border-radius: 3px;
        background-color: #FFF;
        background: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#f2f2f2));
        background: -moz-gradient(linear,0 0,0 100%,from(#FFF),to(#f2f2f2));
        background: -o-gradient(linear,0 0,0 100%,from(#FFF),to(#f2f2f2));
        background: -ms-gradient(linear,0 0,0 100%,from(#FFF),to(#f2f2f2));
        color: #666;
        cursor: pointer;
        text-decoration: none;
    }

    .btn:active {
        border: 1px solid #d1d1d1;
        border-radius: 3px;
        background-color: #f2f2f2;
        background: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#FFF));
        background: -moz-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#FFF));
        background: -o-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#FFF));
        background: -ms-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#FFF));
        color: #666;
        cursor: pointer;
    }

.btnBlue {
    border: 1px solid #2091fc;
    border-radius: 3px;
    background-color: #28b5fd;
    color: #FFF;
    top: 0px;
    left: 0px;
}

    .btnBlue:hover {
        border: 1px solid #2091fc;
        background-color: #6ecdff;
        background: -webkit-gradient(linear,0 0,0 100%,from(#6ecdff),to(#2091fc));
        background: -moz-gradient(linear,0 0,0 100%,from(#6ecdff),to(#2091fc));
        background: -o-gradient(linear,0 0,0 100%,from(#6ecdff),to(#2091fc));
        background: -ms-gradient(linear,0 0,0 100%,from(#6ecdff),to(#2091fc));
        color: #FFF;
    }

    .btnBlue:active {
        border: 1px solid #2091fc;
        background-color: #2091fc;
        background: -webkit-gradient(linear,0 0,0 100%,from(#2091fc),to(#6ecdff));
        background: -moz-gradient(linear,0 0,0 100%,from(#2091fc),to(#6ecdff));
        background: -o-gradient(linear,0 0,0 100%,from(#2091fc),to(#6ecdff));
        background: -ms-gradient(linear,0 0,0 100%,from(#2091fc),to(#6ecdff));
        color: #FFF;
    }

.btnRed {
    border: 1px solid #fc5f4a;
    border-radius: 3px;
    background-color: #fd765c;
    color: #FFF;
    top: 0px;
    left: 0px;
}

    .btnRed:hover {
        border: 1px solid #fc5f4a;
        background-color: #ffaa9a;
        background: -webkit-gradient(linear,0 0,0 100%,from(#ffaa9a),to(#fc5f4a));
        background: -moz-gradient(linear,0 0,0 100%,from(#ffaa9a),to(#fc5f4a));
        background: -o-gradient(linear,0 0,0 100%,from(#ffaa9a),to(#fc5f4a));
        background: -ms-gradient(linear,0 0,0 100%,from(#ffaa9a),to(#fc5f4a));
        color: #FFF;
    }

    .btnRed:active {
        border: 1px solid #fc5f4a;
        background-color: #fc5f4a;
        background: -webkit-gradient(linear,0 0,0 100%,from(#fc5f4a),to(#ffaa9a));
        background: -moz-gradient(linear,0 0,0 100%,from(#fc5f4a),to(#ffaa9a));
        background: -o-gradient(linear,0 0,0 100%,from(#fc5f4a),to(#ffaa9a));
        background: -ms-gradient(linear,0 0,0 100%,from(#fc5f4a),to(#ffaa9a));
        color: #FFF;
    }

.btnGreen {
    border: 1px solid #7dc855;
    border-radius: 3px;
    background-color: #9bda6a;
    background: -webkit-gradient(linear,0 0,0 100%,from(#9bda6a),to(#7dc855));
    background: -moz-gradient(linear,0 0,0 100%,from(#9bda6a),to(#7dc855));
    background: -o-gradient(linear,0 0,0 100%,from(#9bda6a),to(#7dc855));
    background: -ms-gradient(linear,0 0,0 100%,from(#9bda6a),to(#7dc855));
    color: #FFF;
}

    .btnGreen:hover {
        border: 1px solid #7dc855;
        background-color: #b5eb8d;
        background: -webkit-gradient(linear,0 0,0 100%,from(#b5eb8d),to(#7dc855));
        background: -moz-gradient(linear,0 0,0 100%,from(#b5eb8d),to(#7dc855));
        background: -o-gradient(linear,0 0,0 100%,from(#b5eb8d),to(#7dc855));
        background: -ms-gradient(linear,0 0,0 100%,from(#b5eb8d),to(#7dc855));
        color: #FFF;
    }

    .btnGreen:active {
        border: 1px solid #7dc855;
        background-color: #7dc855;
        background: -webkit-gradient(linear,0 0,0 100%,from(#7dc855),to(#b5eb8d));
        background: -moz-gradient(linear,0 0,0 100%,from(#7dc855),to(#b5eb8d));
        background: -o-gradient(linear,0 0,0 100%,from(#7dc855),to(#b5eb8d));
        background: -ms-gradient(linear,0 0,0 100%,from(#7dc855),to(#b5eb8d));
        color: #FFF;
    }

.btnLightGreen {
    border-radius: 3px;
    background-color: #36c77b;
    color: #FFF;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    display: inline-block;
    text-decoration: none;
}

    .btnLightGreen:hover {
        background: #49dc8f;
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
    }

    .btnLightGreen:active {
        background: #36c77b;
        color: #FFF;
        cursor: pointer;
    }

.btnNoAction, .btnNoAction:hover, .btnNoAction:active {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background-color: #e6e6e8;
    background: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e6e6e8));
    background: -moz-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e6e6e8));
    background: -o-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e6e6e8));
    background: -ms-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e6e6e8));
    height: 28px;
    padding: 0 20px;
    cursor: default;
    line-height: 28px;
    display: inline-block;
    color: #B9B9B9;
}

.inputSearch {
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    height: 14px;
    padding: 6px 0;
    line-height: 14px;
    padding-left: 5px;
    font-size: 13px;
    display: inline-block;
    width: 220px;
}

    .inputSearch:focus {
        border: 1px solid #49b8ff;
        box-shadow: 0 0 3px rgba(73,184,255,.5);
    }

    .inputSearch[readonly] {
        border: 1px solid #dfdfdf;
        background: #efefef;
        color: #aaa;
    }

.refresh {
    width: 42px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    background: url(/images/jingyi.png) no-repeat -549px -230px;
}

    .refresh:hover {
        background-position: -655px -230px;
    }

/**bootstrap**/
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    margin: 1px;
    font-size: 75%;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
}

a.label:hover, a.label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/*.label:empty { display: none; }*/
.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777;
}

    .label-default[href]:hover, .label-default[href]:focus {
        background-color: #5e5e5e;
    }

.label-primary {
    background-color: #00A2CA;
}

    .label-primary[href]:hover, .label-primary[href]:focus {
        background-color: #069ABF;
    }

.label-success {
    background-color: #5cb85c;
}

    .label-success[href]:hover, .label-success[href]:focus {
        background-color: #449d44;
    }

.label-info {
    background-color: #5bc0de;
}

    .label-info[href]:hover, .label-info[href]:focus {
        background-color: #31b0d5;
    }

.label-warning {
    background-color: #f0ad4e;
}

    .label-warning[href]:hover, .label-warning[href]:focus {
        background-color: #ec971f;
    }

.label-danger {
    background-color: #d9534f;
}

    .label-danger[href]:hover, .label-danger[href]:focus {
        background-color: #c9302c;
    }





/*拍拍网风格*/
/*.paginator { font: 11px Arial, Helvetica, sans-serif; padding: 10px 20px 10px 0; margin: 0px; }
    .paginator a { padding: 1px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none; margin-right: 2px; }
        .paginator a:visited { padding: 1px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none; }
    .paginator .cpb { padding: 1px 6px; font-weight: bold; font-size: 13px; border: none; }
    .paginator a:hover { color: #fff; background: #ffa501; border-color: #ffa501; text-decoration: none; }
*/
/*.paginator { font: 12px Arial, Helvetica, sans-serif; padding: 10px 20px 10px 0; margin: 0px; }
    .paginator a { border: solid 1px #ccc; color: #0063dc; cursor: pointer; text-decoration: none; }
        .paginator a:visited { padding: 1px 6px; border: solid 1px #ddd; background: #fff; text-decoration: none; }
    .paginator .cpb { border: 1px solid #F50; font-weight: 700; color: #F50; background-color: #ffeee5; }
    .paginator a:hover { border: solid 1px #F50; color: #f60; text-decoration: none; }
    .paginator a, .paginator a:visited, .paginator .cpb, .paginator a:hover { float: left; height: 16px; line-height: 16px; min-width: 10px; _width: 10px; margin-right: 5px; text-align: center; white-space: nowrap; font-size: 12px; font-family: Arial,SimSun; padding: 0 3px; }*/

/*先引入bootstrap.css*/
.paginator {
    display: block;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 15px;
    border-radius: 4px;
    float: left;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 3;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.paginator .pager {
    display: none;
}

.pagination a[disabled] {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination span.active, .pagination span.active:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-top-color: #337ab7;
    border-bottom-color: #337ab7;
}

.paginator .pagerinfo {
    float: left;
    margin-top: 18px;
    margin-left: 10px;
}

    .paginator .pagerinfo input {
        border: 1px solid #cccccc;
        padding: 3px;
        width: 38px;
    }

.paginator .tongji {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: green;
}

.form-control { /*display: block; width: 100%;*/
    width: 257px; /*height: 34px;*/
    height: 28px; /*padding: 6px 12px;*/
    padding: 3px 5px;
    margin-left: 3px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2b2b2b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .form-control.auto {
        width: auto;
    }

    .form-control.f12 {
        font-size: 12px;
    }

    .form-control.small {
        height: 26px;
        font-size: 12px;
        border: 1px solid #dedede;
    }

.icon {
    width: 20px;
    height: 20px;
    background: url(/images/jingyi.png) no-repeat 0px 0px;
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
}

.addIcon {
    background-position: -460px -228px;
}




/*列表页*/
.main {
    padding: 10px 15px;
    padding-bottom: 0px;
}

    .main.orders {
        margin-top: 25px;
    }

    .main.nopadding {
        padding: 0px;
    }

    .main .box {
        background: #ffffff;
        margin: 0px 0px;
        padding: 10px;
    }

    .main .area {
        background-color: white;
        padding: 10px 15px;
    }

    .main .tabDiv {
        background: url(/images/tabline.png) repeat-x bottom;
        position: relative;
    }

        .main .tabDiv ul {
            margin: 0px;
            padding: 0px 5px;
        }

            .main .tabDiv ul .tab {
                float: left;
                border: 1px solid #d9e0eb;
                background-color: #f7f7f7;
                font-size: 16px;
                padding: 8px 30px;
                margin: 0px 5px;
                cursor: pointer;
                text-align: center;
            }

                .main .tabDiv ul .tab.time {
                    background: url(/images/arrowDown.png) no-repeat 105px center #f7f7f7;
                }

                .main .tabDiv ul .tab:hover, .main .tabDiv ul .tab.current {
                    background-color: white;
                    border-bottom: 1px solid white;
                }

        .main .tabDiv .btnabs {
            position: absolute;
            right: 20px;
            top: 0px;
        }

        .main .tabDiv ul .tab.time {
            position: relative;
        }

        .main .tabDiv ul .tab .selecttime {
            position: absolute;
            width: 220px;
            padding: 15px 20px;
            background-color: white;
            border: 1px solid #cccccc;
            top: 45px;
            left: -65px;
            z-index: 1111;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
            display: none;
        }

            .main .tabDiv ul .tab .selecttime .arrowT {
                background: url(/images/arrowT.png) no-repeat center bottom;
                position: absolute;
                width: 100%;
                top: -10px;
                left: 0px;
            }

            .main .tabDiv ul .tab .selecttime .Wdate {
                width: 92px;
                border: 1px solid #dedede;
                padding: 3px;
            }

            .main .tabDiv ul .tab .selecttime div {
                padding-top: 10px;
            }

        .main .tabDiv .search {
            position: absolute;
            top: 0px;
            right: 10px;
        }


    .main .btnDiv {
        background-color: white;
        padding: 10px 20px;
        position: relative;
    }

        .main .btnDiv.fixed {
            position: fixed;
            z-index: 1000;
            padding: 8px 15px;
            top: 0px;
            right: 0px;
            background: url(/images/shadow.png);
            border-radius: 0px 0px 5px 5px;
        }

        .main .btnDiv.fixedleft {
            position: fixed;
            z-index: 1000;
            padding: 8px 15px;
            top: 0px;
            left: 0px;
            background: url(/images/shadow.png);
            border-radius: 0px 0px 5px 5px;
        }

        .main .btnDiv .audit {
            position: absolute;
            top: 0px;
            right: 15px;
            z-index: 1000;
        }

        .main .btnDiv table.listTable {
            width: 100%;
        }

        .main .btnDiv .title {
            font-size: 16px;
            height: 30px;
            line-height: 30px;
        }

        .main .btnDiv .qiankuan {
            margin-top: 5px;
            font-size: 14px;
        }

            .main .btnDiv .qiankuan .yingshouqiankuan {
                color: red;
                font-size: 16px;
            }

    .main .listTable .total {
        background-color: #F1F1F1;
    }

        .main .listTable .total .jine {
            color: red;
            font-size: 16px;
            text-align: right;
        }


.gaoji {
    background-color: #F7F7F7;
    border-top: 1px solid #D7D7D7;
}

.areagaoji {
    padding: 10px;
}

    .areagaoji .tblgaoji {
        width: auto;
        border-collapse: collapse;
        width: 100%;
    }

        .areagaoji .tblgaoji td {
            padding: 3px;
        }

            .areagaoji .tblgaoji td.tdl {
                text-align: right;
            }

        .areagaoji .tblgaoji input[type='text'] {
            border: 1px solid #D7D7D7;
            border-radius: 3px;
            height: 14px;
            padding: 6px 0;
            margin: 3px 7px 3px 3px;
            line-height: 14px;
            padding-left: 5px;
            font-size: 13px;
            width: 150px;
        }

        .areagaoji .tblgaoji select {
            height: 28px;
            padding: 3px 5px;
            margin: 3px 5px 3px 3px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #2b2b2b;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .areagaoji .tblgaoji .tdsearch {
            border-left: 1px solid #D7D7D7;
            width: 235px;
            text-align: center;
        }

    .areagaoji .btns {
        margin-top: 15px;
        padding-top: 10px;
        text-align: center;
    }



.main .contentDiv {
    background-color: white;
    margin-top: 8px;
    padding: 10px;
    overflow-x: auto;
}

    .main .contentDiv .loading {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 45%;
        left: 49%;
        display: none;
        z-index: 11111;
    }

    .main .contentDiv .listTable { /*width: 99%;*/ /*table-layout: fixed;*/
        word-wrap: break-word;
        border-top: 1px solid #E2E2E2;
        border-left: 1px solid #E2E2E2;
        border-collapse: collapse;
        white-space: nowrap;
        word-break: break-all;
    }

        .main .contentDiv .listTable.autowidth {
            width: auto;
        }
        /*.main .contentDiv .listTable thead { font-size: 13px; font-weight: bold; color: #666666; background-color: #F4F4F4; }*/
        .main .contentDiv .listTable thead {
            font-size: 13px;
            font-weight: bold;
            color: #555555;
            background: #EEEEEE url(/images/ui_th.png) repeat-x 0px 0px;
            height: 30px;
            line-height: 30px;
        }

            .main .contentDiv .listTable thead td {
                border-right: 1px solid #E2E2E2;
                border-bottom: 1px solid #dedede;
                padding: 0px 5px;
                text-align: center;
            }

        .main .contentDiv .listTable tbody tr {
            background-color: #FFFFFF;
        }

            .main .contentDiv .listTable tbody tr.odd {
                background-color: #F8F8F8;
            }

            .main .contentDiv .listTable tbody tr:hover {
                background-color: #99D9EA;
            }

            .main .contentDiv .listTable tbody tr.noquery:hover {
                background-color: #FFFFFF;
            }
            /*.main .contentDiv .listTable tbody tr.current { background-color: #008EB7; color: white; }*/
            .main .contentDiv .listTable tbody tr td {
                border-right: 1px solid #dedede;
                border-bottom: 1px solid #E2E2E2;
                padding: 8px 5px;
                color: #555555;
            }

            .main .contentDiv .listTable tbody tr.current td {
                background-color: #00A2CA;
                color: #FFFFFF;
            }

            .main .contentDiv .listTable tbody tr.noquery {
                padding: 0px;
                background-color: white;
            }

                .main .contentDiv .listTable tbody tr.noquery td {
                    border-bottom: 1px solid #dedede;
                }

            .main .contentDiv .listTable tbody tr .heji {
                color: red;
                font-size: 16px;
                text-align: right;
                padding-right: 5px;
            }

        .main .contentDiv .listTable tfoot {
            border-right: 1px solid #E2E2E2;
            border-bottom: 1px solid #dedede;
        }

        .main .contentDiv .listTable tbody tr td .goods {
            position: relative;
            color: #25A4D6;
            cursor: pointer;
        }

            .main .contentDiv .listTable tbody tr td .goods:hover {
                color: #FD7742;
            }

            .main .contentDiv .listTable tbody tr td .goods img {
                position: absolute;
                width: 200px;
                height: 160px;
                z-index: 100;
                top: -60px;
                left: -210px;
                border: 3px solid #dedede;
                display: none;
            }

            .main .contentDiv .listTable tbody tr td .goods:hover img {
                display: block;
            }

        .main .contentDiv .listTable .listTableinfo {
            display: none;
        }

            .main .contentDiv .listTable .listTableinfo div {
                margin: 6px;
            }

            .main .contentDiv .listTable .listTableinfo table {
                border: 0px;
                border-collapse: collapse;
                margin-left: 10px;
            }

            .main .contentDiv .listTable .listTableinfo td {
                padding: 0px;
            }

            .main .contentDiv .listTable .listTableinfo table strong, .main .contentDiv .listTableinfo table b {
                font-size: 16px;
                font-weight: normal;
                color: #333333;
                padding-right: 10px;
            }

            .main .contentDiv .listTable .listTableinfo table .header {
                border-bottom: 1px solid #D7D7D7;
            }

            .main .contentDiv .listTable .listTableinfo table td {
                border: 0px;
                padding: 3px 5px;
                color: #999999;
                padding: 5px;
            }

                .main .contentDiv .listTable .listTableinfo table td span {
                    color: #333333;
                }


    .main .contentDiv.info {
        margin-top: 0px;
    }

        .main .contentDiv.info .detail table {
            margin: 0px;
        }

        .main .contentDiv.info .thumb {
            width: 120px;
            height: 90px;
            border: 1px solid #dedede;
        }

        .main .contentDiv.info h2 {
            padding-left: 10px;
            margin: 0px;
        }

        .main .contentDiv.info .filter {
            padding: 5px 0px 0px 10px;
        }


.main .tableInfo {
    width: 100%;
    margin-bottom: 10px;
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-collapse: collapse;
}

.main .tableInfo1 {
    width: 100%;
    margin-bottom: 10px;
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    border-collapse: collapse;
}

.main .tableInfo tr td {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #E2E2E2;
    padding: 3px 5px;
    height: 42px;
}

.main .tableInfo1 tr td {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #E2E2E2;
    padding: 3px 5px;
    height: 42px;
}

.main .tableInfo tr td.tdl {
    text-align: right;
}

.main .tableInfo1 tr td.tdl {
    text-align: right;
}

.main .tableInfo input[type="text"], .main .tableInfo input[type="password"] {
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    height: 18px;
    padding: 6px 0;
    margin: 3px;
    line-height: 14px;
    padding-left: 5px;
    font-size: 13px;
    width: 250px;
}

.main .tableInfo1 input[type="text"], .main .tableInfo1 input[type="password"] {
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    height: 28px;
    padding: 6px 0;
    margin: 3px;
    line-height: 14px;
    padding-left: 5px;
    font-size: 13px;
    width: 250px;
}

.main .tableInfo textarea {
    border: 1px solid #D7D7D7;
    margin: 5px 7px 5px 3px;
}

.main .tableInfo1 textarea {
    border: 1px solid #D7D7D7;
    margin: 5px 7px 5px 3px;
}

.main .tableInfo select {
    width: 257px;
    height: 28px;
    padding: 3px 5px;
    margin-left: 3px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2b2b2b;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.main .tableInfo .autowidth select {
    width: auto;
}

.main .tableInfo1 select {
    width: 257px;
    height: 28px;
    padding: 3px 5px;
    margin-left: 3px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2b2b2b;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.main .tableInfo1 .autowidth select {
    width: auto;
}



/*左右两栏*/
.main .contentDiv .s_l {
    float: left;
    width: 25%;
}

.main .contentDiv .s_r {
    float: left;
    width: 65%;
    margin-left: 4%;
    padding-left: 4%;
    border-left: 1px solid #cccccc;
}
