﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div id="danju">
        <style type="text/css">
            .text_center { text-align: center; }
            .text_right { text-align: right; }
            table { width: 100%; height: 100%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-collapse: collapse; font-size: 14px; }
                table thead td { font-weight: bold; font-size: 18px; }
                table tr td { border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding: 2px; }
                table tfoot td span { padding: 5px; font-size: 12px; }
        </style>
        <table>
            <thead>
                <tr class="text_center">
                    <td colspan="6"><%=modelSettings.name %>定期存款单</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text_right" style="width: 12%">姓名：</td>
                    <td><%=model.realname %></td>
                    <td class="text_right" style="width: 12%">账号：</td>
                    <td><%=model.username %></td>
                    <td class="text_right" style="width: 10%">存款时间：</td>
                    <td><%=model.cunkuanTime %></td>
                </tr>
                <tr>
                    <td class="text_right">存款金额：</td>
                    <td><%=model.jine %>元</td>
                    <td class="text_right">存款周期：</td>
                    <td><%=model.zhouqi %></td>
                    <td class="text_right">到期时间：</td>
                    <td><%=model.daoqiTime %></td>
                </tr>
                <tr>
                    <td class="text_right">金额大写：</td>
                    <td colspan="3"><%=Tool.MoneyToUpper.ToUpper(model.jine.ToString()) %></td>
                    <td rowspan="4">
                        <div style="width: 20px; margin: 0px auto;">业务专用章</div>
                    </td>
                    <td rowspan="4"></td>
                </tr>
                <tr>
                    <td class="text_right">到期年利率：</td>
                    <td><%=model.lilv %>%</td>
                    <td class="text_right">不到期年利率：</td>
                    <td><%=model.budaoqi %>%</td>
                </tr>
                <tr>
                    <td class="text_right">备注：</td>
                    <td colspan="3"><%=model.add_remark %></td>
                </tr>
                <tr>
                    <td class="text_right">经办人：</td>
                    <td><%=model.jbname %></td>
                    <td class="text_right">客户签字：</td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="height: 10%;">
                    <td colspan="6" class="text_center"><span>1 白联:存根</span> <span>2 红联:上缴</span> <span>3 黄联:客户</span></td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
