/*
Product Name: dhtmlxTree 
Version: 4.4 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

.dhxmenu_skin_detect { position: absolute; left: 0; top: -100px; margin: 0; padding: 0; border: 0 solid white; width: 10px; height: 10px; overflow: hidden; }
.dhtmlxMenu_dhx_skyblue_Middle { position: relative; height: 30px; border: none; overflow: hidden; background-color: #ebebeb; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
    .dhtmlxMenu_dhx_skyblue_Middle div.top_sep { float: left; position: relative; height: 22px; width: 0; border-left: 1px solid #ddd; margin: 4px 2px 0 0; line-height: 1px; font-size: 1px; overflow: hidden; cursor: default; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
    .dhtmlxMenu_dhx_skyblue_Middle img.dhtmlxMenu_TopLevel_Item_Icon { float: left; margin: 2px 3px 0 3px; width: 18px; height: 18px; }
    .dhtmlxMenu_dhx_skyblue_Middle div.dhtmlxMenu_TopLevel_Text_right { position: absolute; top: 8px; left: none; right: 8px; font-family: Tahoma,Helvetica; font-size: 11px; color: black; cursor: default; }
    .dhtmlxMenu_dhx_skyblue_Middle div.dhtmlxMenu_TopLevel_Text_left { position: absolute; top: 8px; right: none; left: 8px; font-family: Tahoma,Helvetica; font-size: 11px; color: black; cursor: default; }
    .dhtmlxMenu_dhx_skyblue_Middle.dir_left div.align_left { float: left; }
    .dhtmlxMenu_dhx_skyblue_Middle.dir_left div.align_right { float: right; }
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal, div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled, div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected { position: relative; float: left; font-family: Tahoma,Helvetica; font-size: 11px; color: black; cursor: default; white-space: nowrap; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; height: 22px; line-height: 22px; vertical-align: middle; margin: 3px 2px 0 0; padding: 0 3px; }
    div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal div.top_level_text, div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled div.top_level_text, div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected div.top_level_text { float: left; margin: 0 3px; }
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Normal, div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled { border: 1px solid #ebebeb; }
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Disabled { color: #999!important; }
div.dhtmlxMenu_dhx_skyblue_TopLevel_Item_Selected { border: 1px solid #a1ceed; background-color: #b5deff; color: black; }
div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon { position: absolute; border: 1px solid #a4bed4; box-shadow: 0 0 3px #ccc; padding: 3px 0; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; background-color: #e7f1ff; overflow: hidden; cursor: default; line-height: normal; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td { font-family: Tahoma,Helvetica; font-size: 11px; color: black; line-height: normal; padding: 0 3px; border-top: 1px solid #e7f1ff; border-bottom: 1px solid #e7f1ff; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected td { background-color: #b5deff; border-top: 1px solid #a1ceed; border-bottom: 1px solid #a1ceed; color: black; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.sub_item_hk { color: #333!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon { width: 18px; text-align: center; vertical-align: middle; }
        div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_icon img.sub_icon { float: left; margin: 0; width: 18px; height: 18px; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_item_text { padding: 0 12px 0 1px; height: 22px; line-height: 21px; white-space: nowrap; text-align: left; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_item_text { color: #999!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk { padding-left: 8px; padding-right: 8px; }
        div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl td.sub_item_hk div.sub_item_hk { font-family: Tahoma,Helvetica; font-size: 10px; color: #4d4d4d; text-align: right; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis td.sub_item_hk div.sub_item_hk { color: #9b9b9b!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow { width: 4px; margin: 0 2px 0 5px; height: 22px; background-image: url("imgs/dhxmenu_skyblue/dhxmenu_subar.gif"); background-repeat: no-repeat; background-position: 0 0; overflow: hidden; font-size: 1px; float: right; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_selected div.complex_arrow { background-position: -4px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.complex_arrow { background-position: -8px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.complex_arrow_loading { width: 11px; height: 22px; background-position: center center; background-repeat: no-repeat; background-image: url("imgs/dhxmenu_skyblue/dhxmenu_loader.gif"); float: right; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon { float: left; margin: 0; width: 18px; height: 18px; background-position: top right; background-repeat: no-repeat; background-image: url("imgs/dhxmenu_skyblue/dhxmenu_chrd.gif"); }
        div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_0 { background-position: 0 0!important; }
        div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.chbx_1 { background-position: -18px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_0 { background-position: -36px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.chbx_1 { background-position: -54px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_0 { background-position: -72px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl div.sub_icon.rdbt_1 { background-position: -90px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_0 { background-position: -108px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon table.dhtmlxMebu_SubLevelArea_Tbl tr.sub_item_dis div.sub_icon.rdbt_1 { background-position: -126px 0!important; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon tr.sub_sep td { padding: 2px 0; }
    div.dhtmlxMenu_dhx_skyblue_SubLevelArea_Polygon div.sub_sep { position: static; font-size: 1px; line-height: 1px; height: 1px; width: 100%; border-top: 1px solid #a4bed4; }
iframe.dhtmlxMenu_IE6CoverFix_dhx_skyblue { position: absolute; border: none; background: #000; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowUp, div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowUp_Over, div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowUp_Disabled { position: relative; font-size: 1px; border-bottom: 1px solid #a4bed4; background-image: url("imgs/dhxmenu_skyblue/dhxmenu_arrow_up.gif"); background-repeat: no-repeat; background-position: center center; padding: 8px 0; margin-bottom: 3px; }
div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowUp_Disabled { background-image: url("imgs/dhxmenu_skyblue/dhxmenu_arrow_up_dis.gif"); }
div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowDown, div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowDown_Over, div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowDown_Disabled { position: relative; font-size: 1px; border-top: 1px solid #a4bed4; background-image: url("imgs/dhxmenu_skyblue/dhxmenu_arrow_down.gif"); background-repeat: no-repeat; background-position: center center; padding: 8px 0; margin-top: 3px; }
div.dhtmlxMenu_dhx_skyblue_SubLevelArea_ArrowDown_Disabled { background-image: url("imgs/dhxmenu_skyblue/dhxmenu_arrow_down_dis.gif"); }
.defaultTreeTable { margin: 0; padding: 0; border: 0; }
.containerTableStyle { overflow: auto; -webkit-overflow-scrolling: touch; position: relative; top: 0; font-size: 12px; -khtml-user-select: none; }
.containerTableStyleRTL span { direction: rtl; unicode-bidi: bidi-override; }
.containerTableStyleRTL { direction: rtl; overflow: auto; position: relative; top: 0; font-size: 12px; }
.standartTreeRow { font-family: Tahoma,Helvetica; font-size: 12px; -moz-user-select: none; }
.selectedTreeRow { background-color: navy; color: white; font-family: Tahoma,Helvetica; font-size: 12px; -moz-user-select: none; }
.dragAndDropRow { background-color: navy; color: white; }
.standartTreeRow_lor { text-decoration: underline; background-color: #fff; font-family: Tahoma,Helvetica; font-size: 12px; -moz-user-select: none; }
.selectedTreeRow_lor { text-decoration: underline; background-color: navy; color: white; font-family: Tahoma,Helvetica; font-size: 12px; -moz-user-select: none; }
.standartTreeImage { height: 24px; overflow: hidden; border: 0; padding: 0; margin: 0; font-size: 1px; }
    .standartTreeImage img { width: 18px; height: 24px; background-position: center center; background-repeat: no-repeat; border: 0; padding: 0; margin: 0; font-size: 1px; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.hiddenRow { width: 1px; overflow: hidden; }
.dragSpanDiv, .dragSpanDiv td { font-family: Tahoma,Helvetica; font-size: 12px; background-color: #fff; z-index: 999; }
.a_dhx_hidden_input { position: absolute; top: -1px; left: -1px; width: 1px; height: 1px; border: none; background: none; }
.a_dhx_hidden_input { position: absolute; top: -1px; left: -1px; width: 1px; height: 1px; border: none; background: none; }
.selectionBox { background-color: #FFC; }
.selectionBar { top: 0; background-color: black; position: absolute; overflow: hidden; height: 2px; z-index: 11; }
.intreeeditRow { font-size: 8pt; height: 16px; border: 1px solid silver; padding: 0; margin: 0; margin-left: 4px; -moz-user-select: text; -khtml-user-select: text; }
.dhx_tree_textSign { font-size: 8pt; font-family: monospace; width: 21px; color: black; padding: 0; margin: 0; cursor: pointer; text-align: center; }
.dhx_tree_opacity { opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.dhx_bg_img_fix { width: 18px; height: 24px; background-repeat: no-repeat; background-position: center; background-position-x: center; background-position-y: center; }
.dhxtree_dhx_skyblue { background-color: #fff; color: black; }
    *html .dhxtree_dhx_skyblue .standartTreeRow, *html .dhxtree_dhx_skyblue .standartTreeRow_lor { border-right: 0 solid red; border-left: 0 solid red; }
    *html .dhxtree_dhx_skyblue span.standartTreeRow, *html .dhxtree_dhx_skyblue span.standartTreeRow_lor { margin-left: 1px; }
    .dhxtree_dhx_skyblue .standartTreeRow, .dhxtree_dhx_skyblue .standartTreeRow_lor { border-right: 1px solid transparent; border-left: 1px solid transparent; font-family: Tahoma,Helvetica; font-size: 12px; overflow: hidden; padding: 0; }
    .dhxtree_dhx_skyblue .selectedTreeRow_lor, .dhxtree_dhx_skyblue .selectedTreeRow { background-color: #b5deff; background-repeat: repeat-x; border: 1px solid #a1ceed; color: black; line-height: 17px; font-family: Tahoma,Helvetica; font-size: 12px; overflow: hidden; }
    html > body .dhxtree_dhx_skyblue .selectedTreeRow, html > body .dhxtree_dhx_skyblue .selectedTreeRow_lor { padding: 1px 0 1px 0; line-height: normal; *display: inline-block; height: 13px; }
body:nth-of-type(1) .dhxtree_dhx_skyblue span.selectedTreeRow, body:nth-of-type(1) .dhxtree_dhx_skyblue span.selectedTreeRow_lor { padding: 1px 0 1px 0; padding-top: 0; box-sizing: border-box; line-height: 12px; height: 13px; }
.dhxtree_skin_detect { position: absolute; left: 0; top: -100px; margin: 0; padding: 0; border: 0 solid white; width: 10px; height: 10px; overflow: hidden; }
