﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="cunkuancheckinfo.aspx.cs" Inherits="web.admin.huoqi.cunkuancheckinfo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Css/common.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.11.3.min.js"></script>
    <script src="/Plug/layer/layer.js"></script>
    <script src="/Scripts/jingyi.js"></script>
</head>
<body class="white">
    <form id="form1" runat="server">
        <div class="main">
            <% if (model != null && model.id != 0)
               { %>
            <table class="tableInfo">
                <tr>
                    <td class="tdl" style="width: 200px;">账号/户名： 
                    </td>
                    <td>[<%=model.username %>]<%=model.realname %>
                        <a href="../users/detail.aspx?id=<%=model.uid %>" class="layer" title="用户明细">查看用户明细</a>
                    </td>
                </tr>
                <%--<tr>
                    <td class="tdl">零钱账户余额： 
                    </td>
                    <td>
                        <asp:Label ID="lblHuoqi" runat="server"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td class="tdl">定期账户余额： 
                    </td>
                    <td>
                        <asp:Label ID="lblDingqi" runat="server"></asp:Label>
                    </td>
                </tr>--%>
                <tr>
                    <td class="tdl">零钱利率明细： 
                    </td>
                    <td>
                        <% if (!string.IsNullOrEmpty(model.lilv))
                           {
                               List<Model.LilvRange> listLilv = Tool.JsonHelper.JsonDeserialize<List<Model.LilvRange>>(model.lilv);
                               if (listLilv != null && listLilv.Count != 0)
                               {
                        %>
                        <div>
                            利息按<%=listLilv[0].unit %>计算
                        </div>
                        <%
                                   foreach (Model.LilvRange one in listLilv)
                                   {
                        %>
                        <div>
                            <%=one.min %><%=one.unit %>< 存款时间 <= <%=one.max==0?"∞":one.max.ToString() %><%=one.unit %>，年利率:<%=one.lilv %>% 
                        </div>
                        <%}
                               } %>
                        <%} %>
                    </td>
                </tr>
                <tr>
                    <td class="tdl">存款金额： 
                    </td>
                    <td>
                        <%=model.jine %>
                        元 
                    </td>
                </tr>
                <tr>
                    <td class="tdl">存款来源： 
                    </td>
                    <td>
                        <%=(Config.Enums.Huoqi_Laiyuan)model.laiyuan %> 
                    </td>
                </tr>
                <tr>
                    <td class="tdl">存款日期： 
                    </td>
                    <td>
                        <%=model.cunkuanTime %>
                    </td>
                </tr>
                <tr>
                    <td class="tdl">备注： 
                    </td>
                    <td>
                        <%=model.add_remark %>
                    </td>
                </tr>
                <tr>
                    <td class="tdl">经办人： 
                    </td>
                    <td>
                        <%=model.jbname %>
                    </td>
                </tr>
                <tr>
                    <td class="tdl">录入时间： 
                    </td>
                    <td>
                        <%=model.addTime.ToString("yyyy-MM-dd HH:mm:ss") %>
                    </td>
                </tr>
                <tr>
                    <td class="tdl">审核意见： 
                    </td>
                    <td>
                        <asp:TextBox ID="txtCkRemark" runat="server" TextMode="MultiLine" Style="width: 90%; height: 80px;"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;
                    </td>
                    <td>
                        <asp:Button ID="btnSave" runat="server" Text="审核通过" CssClass="btn btn-sm btnBlue noloading" OnClick="btnSave_Click" />
                        <asp:Button ID="btnNotPass" runat="server" Text="审核不通过" CssClass="btn btn-sm btnRed noloading" OnClientClick="return confirm('确实要不通过当前存款数据吗？')" OnClick="btnNotPass_Click" />
                        <input type="button" id="closeIframe" value="关闭" class="btn btn-sm btn-info" onclick="parent.layer.closeAll()" />
                    </td>
                </tr>
            </table>
            <%} %>
        </div>
    </form>
</body>
</html>
