﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="jiajiemi.aspx.cs" Inherits="web.jiajiemi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>
                <%=AesEncrypt("APICloud","boundaryboundary") %>
            </div>
            <div>
                <%=AesDecrypt("80r8sPzZmu361GEnET+jQw==","boundaryboundary") %>
            </div>
            <div>
                <%=Encrypt("APICloud","boundaryboundary") %>
            </div>
            <div>
                <%=Decrypt("80r8sPzZmu361GEnET+jQw==","boundaryboundary") %>
            </div>
            <%-- <div>
                <%=Decrypt("4azjBZSGu+KoZ4CU8DLFjQ==","boundaryboundary") %>
            </div>--%>
        </div>
    </form>
</body>
</html>

