﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="jpush.aspx.cs" Inherits="web.jpush" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <%--   <% 
                var m = new Tool.JPushHelper();
                string msg = string.Empty;
                var obj = m.PushObject_All_All_Alert("alert");
                m.PushMsg(obj, ref msg);
            %>--%>

            <% 
                //var m = new Tool.JPushHelper();
                string msg = string.Empty;
                //m.PushMsg(new string[] { }, "title", "content", new Dictionary<string, string>() { }, ref msg);

                Dictionary<string, string> dict = new Dictionary<string, string>();
                dict.Add("page", "huoqiinfocun");
                dict.Add("id", "54");
                dict.Add("uid", "1");
                Tool.JPushHelper.PushMessage111(new string[] { }, "表头", "content211", dict, ref msg);
            %>
        </div>
    </form>
</body>
</html>
